{
  "extends": "airbnb-base",
  "rules": {
    "import/no-unresolved": [
      2,
      {
        "ignore": [
          "^std$"
        ]
      }
    ],
    "no-bitwise": [
      "error", {"allow": ["<<", ">>", "|", "&"]}
    ],
    "indent": ["error", 2, {"SwitchCase": 0, "CallExpression": {"arguments": "first"}}]
  }
}
