{
  "extends": "airbnb-base",
  "rules": {
    "import/prefer-default-export": 0,
    "import/no-unresolved": [
      2,
      {
        "ignore": [
          "^std$",
          "^@jkcfg/std$",
          "/?(api|shapes)$",
        ]
      }
    ],
    "no-bitwise": [
      "error", {"allow": ["<<", ">>", "|", "&"]}
    ],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "indent": ["error", 2, {"SwitchCase": 0, "CallExpression": {"arguments": "first"}}],
    "no-restricted-syntax": ["error", "ForInStatement", "LabeledStatement", "WithStatement"],
    "object-curly-newline": ["error", { "ImportDeclaration": "never" }]
  }
}
